@import "vars";

.all-items{
  background-color: #f4f6f5;
  // padding-bottom: 100px;
}
.breadcrumbs{
  padding: 45px 0px 40px;
}

.breadcrumbs-item{
  display: inline-block;
  position: relative;
  a{
    color: #b0bec5;
  }
  span{
    color: black;
  }
  & + .breadcrumbs-item
  {
    padding-left: 24px;
    &:before{
      content: "";
      position: absolute;
      width: 5px;
      height: 2px;
      background-color: $green;
      top: 50%;
      left: 8px;
    }
  }
}
.pagination__item{
  display: inline-block;
  & + .pagination__item{
    padding-left: 7px;
  }
  a{
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    color: black;
    font-size: 16px;
    font-weight: 500;
    background-color: #fff;
  }
  .active{
    background-color: $red;
    color: #fff;
  }
}

.categories,
.price-range,
.top-sellers{
  background-color: #fff;
  border: 1px solid $border;
  padding: 0px 30px 20px;
  margin-bottom: 30px;
}
.categories__title,
.price-range__title,
.top-sellers__title{
  font-weight: 700;
  padding-top: 25px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  color: #263238;
  font-size: 20px;
  border-bottom: 1px solid $border;
}
.categories__item{
  a{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }
}
.categories__name{
  color: $fon;
  position: relative;
  padding-left: 20px;
  &:before{
    content: "\f105";
    position: absolute;
    font-family: "icomoon";
    left: 0;
    color: $green;
    font-size: 14px;
  }
}
.categories__number{
  color: $text;
}
.price-range__btn,
.top-sellers__btn{
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
    margin-top: 50px;
    background-color: $green;
    width: 100%;
    border: none;
    color: #fff;
    height: 46px;
    line-height: 44px;
    font-weight: 500;
    text-align: center;
    span{
      padding-left: 25px;
      position: relative;
      &:before{
        content: "\f002";
        font-family: "icomoon";
        position: absolute;
        left: 0;
      }
  }
}
.price-range__slider{
  .irs--round .irs-bar{
    background-color: $fon;
  }
  .irs--round .irs-line{
    background-color: $border;
  }
  .irs--round .irs-handle{
    width: 16px;
    height: 16px;
    border-color: $green;
    top: 30px;
  }
  .irs-from, .irs-to, .irs-single{
    top: 60px;
    background-color: transparent;
    border: none;
    color: $text;
    font-size: 15px;
    &:before{
      display: none;
    }
  }
  .irs-min, .irs-max{
    display: none;
  }
}
.top-sellers__item{
  border-bottom: 1px solid $border;
}
.item__title{
  display: flex;
  justify-content: space-between;
  // align-items: center;
  margin-top: 15px;
}
.item__name{
  a{
    color: $fon;
    font-size: 16px;
    font-weight: 700;
    & + a{
      color: $green;
      font-weight: 500;
    }
  }
}

.item__price{
    color: $fon;
    font-size: 16px;
    font-weight: 700;
    padding-top: 10px;
}
.item__title-description{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 30px;
}
.item__title-description-name{
  img,
  span{
    vertical-align: middle;
  }
  img{
    border-radius: 50%;
  }
  span{
    font-size: 14px;
    color: #546e7a;
    padding-left: 10px;
  }
}
.stars{
  color: #ffa726;
  font-size: 12px;
  li{
    display: inline-block;
  }
}
.top-sellers__title{
  margin-bottom: 25px;
}
.top-sellers__item{
  margin-top: 25px;
  &:last-child{
    margin-bottom: 0;
    border-bottom: none;
  }
}


.middle__img{
  background-color: #fff;
  padding: 16px 20px;
  margin-bottom: 36px;
}

.middle__title{
  font-family: $roboto;
  font-size: 30px;
  color: #263238;
  line-height: 40px;
  font-weight: 500;
  padding-bottom: 28px;
}
.middle__text{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: $roboto;
  color: #707070;
  padding-bottom: 43px;
}
.middle__items{
  display: flex;
  padding-bottom: 53px;
}
.middle__social{
  margin-left: auto;
}
.middle__btn{
  button{
    border: none;
    outline: none;
    cursor: pointer;
    font-family: $roboto;
    font-weight: 500;
    font-size: 16px;
    color: #f4f6f5;
    padding: 17px 21px;
    min-width: 137px;
    & + button{
      margin-left: 19px;
    }
  }
  .middle__btn__live{
    background-color: #e74c3c;
  }
  .middle__btn__screen{
    background-color: #455a64;
    padding: 17px 32px;
  }
  .middle__btn__doc{
  background-color: #8bc34a;
  }
  
}
.middle__social{
  a{
    min-width: 55px;
    background-color: red;
    text-align: center;
  }
  span{
    font-size: 18px;
    line-height: 50px;
    color: #fff;
  }
  .middle__social__face{
    background-color: #6370b6;
  }
  .middle__social__twit{
    background-color: #64b5f6;
  }
  .middle__social__link{
    background-color: #4f71ce;
  }
  .middle__social__pin{
    background-color: #d32f2f;
  }
}