@import "fonts"; 
@import "vars";

*{
  box-sizing: border-box;
}

img{
  max-width: auto;
  width: 100%;
}

a{
  color: black;
  text-decoration: none;
  display: inline-block;
}

ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
}

.container{
  max-width: 936px;
  margin: 0 auto;
  padding: 0 15px;
}

body{
  color: #fff;
}

