$helvlight: 'HelveticaNeueCyr-Light', sans-serif;
$myriadregular: 'MyriadPro-Regular', sans-serif;
$proximabold: 'ProximaNova-Bold', sans-serif;
$proximaregular: 'ProximaNova-Regular', sans-serif;
$proximasemibold: 'ProximaNova-Semibold', sans-serif;