@media (max-width: 935px) {
  .gallery__item-2 {
    margin: 0px 0px 30px 30px;
  }

  .gallery__item-3,
  .gallery__item-5,
  .gallery__item-7 {
    margin: 0px 30px 30px 0px;
  }

  .gallery__item-8 {
    margin: 0px 0px 30px 0px;
  }

  .gallery__item-9 {
    margin: 0px 30px 30px 30px;
  }
}

@media (max-width: 850px) {
  .header{
    justify-content: center;
  }
  .header__logo {
    margin: 0px 42px 0px 0px;
  }
}

@media (max-width: 682px) {
  .header {
    padding-top: 0px;
    padding-bottom: 26px;
    display: block;
    text-align: center;
  }
  .header__logo {
    margin: 0px 0px 0px 0px;
  }
  .header__wrapper,
  .header__info,
  .header__datepicker {
    justify-content: center;
  }
}

@media (max-width: 627px) {
  .gallery {
    padding: 40px 0px 40px;
  }
  .gallery__item-2 {
    margin: 0px 30px 30px 30px;
  }

  .gallery__item-3,
  .gallery__item-5,
  .gallery__item-7 {
    margin: 0px 30px 30px 30px;
  }

  .gallery__item-8 {
    margin: 0px 30px 30px 30px;
  }

  .gallery__item-9 {
    margin: 0px 30px 30px 30px;
  }
}

@media (max-width: 471px) {
  .header__wrapper {
    display: flex;
    flex-direction: column;
  }
  .header__date-start {
    margin-bottom: 20px;
  }
  .header__datepicker {
    flex-direction: column;
  }
  .header__datepicker_date {
    display: none;
  }
  #datepicker2 {
    margin-top: 14px;
    margin-left: 0px;
  }
}

@media (max-width: 394px) {
  .gallery__item-2 {
    margin: 0px 0px 30px 0px;
  }

  .gallery__item-3,
  .gallery__item-5,
  .gallery__item-7 {
    margin: 0px 0px 30px 0px;
  }

  .gallery__item-8 {
    margin: 0px 0px 30px 0px;
  }

  .gallery__item-9 {
    margin: 0px 0px 30px 0px;
  }
}
