.btn {
    width: 100%;
    border-radius: 5px;
    color: #fff;
    outline: none;

    &:hover {
        color: #fff;
    }

    &--gradient {
        background-image: linear-gradient(to right, #64B5F6, #BA68C8, #64B5F6);
        background-size: 200% 100%;
        background-position-x: 100%;
        transition: background-position-x .5s ease;

        &:hover {
            background-position-x: 0;
        }
    }
}

.simple-btn {
    opacity: 1;

    &:hover {
        opacity: 0.8;
    }
}