@media (max-width: 1122px){
	.tab{
		width: 19%;
		padding: 0px 0px;
		padding-top: 86px;
   		padding-bottom: 75px;
		text-align: center;
		float: none;
		display: inline-block;
	}
	.tab:after{
		left: 76px;
	}
	.tabs{
		padding-left: 0px;
		text-align: center;
	}
}



@media (max-width: 996px) {
	.header{
	position: absolute;
	}
	.tab{
		width: 25%;
	}
	.tab:after{
		left: 95px;
	}
}

@media (max-width: 917px){
	
}


@media (max-width: 808px){
	.tab:after{
		left: 70px;
	}
	.slider__text{
		width: 596px;
    	margin: 0px auto;
    	margin-bottom: 19px;
	}
}

@media (max-width: 769px) {
	.menu ul{
		display: none;
		position: absolute;
		top: 75px;
		text-align: center;
		right: 0;
		left: 0;
		background-color: #ccc;
	}

	
	.menu li{
	display: block;
	border-top: 1px solid #a2a2a2;
	}
	.menu li + li{
		padding-left: 0px;
	}

	.menu a{
		display: block;
		padding: 10px 0;
	}
	.menu__btn{
		display: block;
	}

	.about__text{
  		column-count: 1;
  		column-gap: 0px;
  	}
	
	.about__photo img {
    margin: 30px 0px;
    width: auto;
	}
	.about__photo{
 	 margin-top: 15px;
	}
	.services {
    padding-top: 66px;
    padding-bottom: 77px;
	}
	.banner__title{
		padding-top: 75px;
		text-align: center;
	}
	.banner__text{
		text-align: center;
	}
	.banner__btn{
		text-align: center;
		margin: 0px auto;

	}
	.banner__photo img{
		display: none;
	}

	.portfolio__title{
		padding: 59px 0px 36px 0px;
	}
	
	.portfolio__btn{
		margin-top: 31px;
    	margin-bottom: 28px;
	}
	.portfolio__btn button{
		width: 24%;
	}
	.portfolio__container{
		text-align: center;
	}
	.portfolio__container a{
		float: none;
		width: 48%;
	}
	.benefits__top-title {
	padding-top: 62px;
	padding-bottom: 47px;
	}
	.benefits__text{
		min-height: 135px;
		text-align: center;
	}
	.benefits__photo-item-bottom{
		padding-bottom: 0px;
		padding-top: 0px;
	}
	.new__title-inner{
		padding-top: 76px;
	}
	.news__photo{
		text-align: center;
		border-top: 1px solid black;
	}

	.news__inner-text{
		text-align: center;
	}
	/*.news__btn{
		text-align: right;
	}*/
	.news__btn span {
    position: absolute;
    top: -42px;
    bottom: 0px;
    left: 39px;
    transform: rotate(90deg);
	}
	.news__photo img{
		width: auto;
		padding-top: 10px;
	}
	.news__btn button{
		margin-bottom: 45px;
	}

	.contact {
    padding: 54px 0px 82px;
	}
	.info-item{
		padding-bottom: 18px;
	}
	.contact__title{
		margin-bottom: 38px;
	}
	.contact__info-item{
 	 width: 100%;
 	 float: none;
 	 /*text-align: center;*/
	}
	.form-left,
	.form-right{
  	float: none;
  	width: 100%;
	}
	.form-left {
    padding-right: 0px;
	}
	.form-right {
    padding-left: 0px;
	}

}


@media (max-width: 694px){
	.slider{
		padding: 60px 0px;
	}
	.slider__wrapper .slick-dots {
	bottom: -38px;
	}
}

@media (max-width: 641px) {
	.slider__text{
		width: 420px;
		font-size: 13px;
	}
	.top__title{
		letter-spacing: 20px;
		font-size: 20px;
	}
	.about__photo{
		margin-top: 70px;
	}
	.about{
		padding-top: 56px;
    	padding-bottom: 56px;
	}
	.tab{
		width: 33.333%;
		padding-top: 68px;
    	padding-bottom: 42px;
	}
	.tab:after{
		left: 75px;
	}
	.services{
		padding-top: 60px;
		padding-bottom: 70px;
	}
	.services__title{
		padding-bottom: 55px;
	}
}



@media (max-width: 524px){
	.about__photo{
		margin-top: 35px;
	}
	.tab:after{
		left: 50px;
	}
	.news__title{
		font-size: 14px;
		letter-spacing: 3px;
	}
	.news__title-text{
		font-size: 9px;
		letter-spacing: 3px;
	}
	.new__title-inner{
		padding-bottom: 55px; 
		padding-top: 35px;
	}
	.newsletter {
		padding: 44px 0px 44px;
	}
}




@media (max-width: 451px) {
	.top__title {
    font-size: 15px;
	}
	.top__text {
    font-size: 10px;
	}
	.about{
		padding-top: 75px;
		padding-bottom: 50px;
	}
	.about__photo{
		margin-top: 30px;
	}
	
	.portfolio__btn{
		margin-top: 31px;
    	margin-bottom: 28px;
	}
	.portfolio__btn button{
		width: 100%;
		margin: 0px 0px;
	}
	.portfolio__container{
		text-align: center;
	}
	.portfolio__container a{
		float: none;
		width: 100%;
	}
	.slider__text{
		width: 230px;
	}
	.newsletter__form-left input{
	max-width: 164px;
	}
	.newsletter__form-right input{
	padding: 5px 15px;
	}
	/*.news__btn{
		text-align: center;
	}*/
	.contact__info {
    margin-bottom: 29px;
	}
	.form-text{
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.contact__form input[type="submit"] {
    float: none;
	}
}
@media (max-width: 415px){
	.tab:after{
		left: 38px;
	}
}

@media (max-width: 389px){
.top__title {
    font-size: 15px;
	}
	.tab{
		font-size: 12px;

	}
	.tab:after{
		font-size: 39px;
		left: 37px;
	}
}

@media (max-width: 321px) {
	.top__title{
		font-size: 13px;
	}

	.top__text {
    font-size: 15px;
	}
	.about{
		padding-top: 45px;
		 padding-bottom: 30px;
	}
	.about__photo-item{
		line-height: 11px;
		font-size: 11px;
	}
	.about__photo-position {
    font-size: 9px;
    margin-top: 3px;
	}
	.about__title{
		margin-bottom: 35px;
	}
	.tab:after{
		left: 26px;
	}
}



@media (min-width: 768px){
	.menu ul{
		display: block !important;
	}
}