$red: #FF0000;
$green: #129227;
$main: #A12C3A;
$gold: #DCC488;
$black: #1D1D1D;
$dark_gray: #9B9B9B;
$dark_gray_60: rgba(155, 155, 155, 0.6);
$gray: rgba(0, 0, 0, 0.1);
$bg: #F4F4F4;
$white: #FFFFFF;
$hover: rgba(161, 44, 58, 0.05);