$text: #b7c7c8;
$red: #e95d50;
$green: #8bc34a;
$fon: #263238;
$border: #dedede;

$roboto: 'Roboto', sans-serif;
$ral: 'Raleway', sans-serif;
$lato: 'Lato', sans-serif;
$sans: 'Open Sans', sans-serif;