.service-our-services-section {
  padding-bottom: 72px;

  .tabs-control {
    margin-bottom: 64px;
  }

  .tabs-container {
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: -24px;
  }
}
