// ========== SETTINGS START ========== //
// ===== Fonts Start ===== //
$fontSuisseIntl: "SuisseIntl", sans-serif;
$fontSpectral: "Spectral", serif;

$fontBasic: $fontSuisseIntl;
$fontBasicSize: 15px;
$fontBasicLineHeight: 1.7;  // 16 * 1.2 = 24px height of text element
$fontBasicWeight: normal;
// ===== Fonts End ===== //

// ===== Colors Start ===== //
$colorBlack: #000;
$colorDarkBrown: #2B2121;
$colorLightBrown: #352929;
$colorBlackGray: #A8A5A5;
$colorLightGray: #C4C0C0;
$colorBorder: #E5E5E5;
$colorWhite: #fff;
$colorAccess: #00C170;
$colorAccessLight: #4DD49B;
$colorError: #FF1111;
$colorWarn: #FFC700;
// ===== Colors End ===== //

$borderRadius: 5px;
// ========== SETTINGS END ========== //
