@media (max-width: 1060px) {
  .table__inner {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-right: 18px;
  }
  .table__item {
    justify-content: space-between;
  }
  .table__default-project,
  .table__default-client,
  .table__default-status {
    min-width: 100px;
  }
  .table__client {
    min-width: 313px;
  }
  .table__status {
    min-width: 97px;
  }
}
@media (max-width: 940px) {
  .plugins__item a {
    padding: 10px 13px;
    margin-right: 25px;
    width: 170px;
    height: 170px;
  }
  .plugins__inner {
    justify-content: space-between;
  }
}

@media (max-width: 872px) {
  .table__client {
    min-width: 313px;
  }
  .table__project,
  .table__client {
    min-width: 130px;
  }
}

@media (max-width: 838px) {
  .plugins__inner {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .plugins__item a {
    margin-right: 0px;
    margin-bottom: 20px;
    width: 323px;
    height: 170px;
  }
}

@media (max-width: 551px) {
  .table__title h1 {
    font-size: 28px;
    padding-bottom: 6px;
  }
  input[type="checkbox"] + label {
    margin-right: 11px;
    width: 18px;
    height: 18px;
  }
  .table__project,
  .table__client {
    font-size: 10px;
    min-width: 50px;
  }
  .table__default-project,
  .table__default-client {
    min-width: 41px;
    font-size: 11px;
  }
  .table__default-client::before {
    left: 42px;
  }
  .table__default-status {
    font-size: 11px;
  }
  .add-project__button button {
    margin-top: 8px;
    padding: 8px 25px;
    font-size: 14px;
  }
}

@media (max-width: 408px) {
  .table__item {
    padding: 6px 7px;
  }
  .table__client {
  }
  .table__status {
    min-width: 50px;
    &::before {
      left: 41px;
    }
  }
  .table__default-status {
    min-width: 50px;
  }
  .table__default-status::before {
    left: 43px;
  }
  .plugins__inner {
    padding-top: 30px;
  }
  .plugins__item a {
    width: 190px;
  }
  .add-project__title {
    margin-top: 18px;
    font-size: 13px;
    padding-bottom: 5px;
  }
  .add-project__wrapper-top input,
  .add-project__wrapper-botton input {
    line-height: 20px;
  }
  .add-project__admin::after {
    top: -3px;
  }
  .add-project__button button {
    margin-top: 8px;
    padding: 5px 15px;
    font-size: 14px;
  }
  .add-project__inner {
    background-color: #fff;
    padding: 1px 0px 18px 10px;
    margin-bottom: 25px;
  }
}
