@import '../abstracts/variables.scss';

.container-fluid {
  padding-right: 90px;
  padding-left: 90px;
  max-width: 1920px;

  @media (max-width: 1199px) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.middle-container {
  max-width: 1440px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.light {
  font-family: $light, sans-serif;
}

.extrabold {
  font-family: $extra-bold, sans-serif;
}

.nowrap {
  white-space: nowrap;
}

.text-blue {
  color: $blue-font;
}

.text-white {
  color: $primary-white;
}

.text-light-grey {
  color: $grey-font;
}

.close {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  transition: opacity .3s ease;

  &--circle {
    border-radius: 50%;
    background-color: rgb(100,181,246);
  }

  &:hover {
      opacity: 1;
  }
  &:before, &:after {
      position: absolute;
      top: 3px;
      left: 15px;
      content: '';
      height: 26px;
      width: 2px;
      background-color: #fff;
  }
  &.close--grey:before,
  &.close--grey:after {
    background-color: #7f7f7f;
  }
  &:before {
      transform: rotate(45deg);
  }
  &:after {
      transform: rotate(-45deg);
  }
}