@import "../../../styles/core/settings";
@import '../../../styles/core/mixins';

.btn-search {
  width: 24px;
  height: 24px;
  margin-left: 30px;
  padding: 4px;
  @include transition(opacity);

  svg {
    @include transition(fill);
  }

  &:hover {
    svg {
      fill: $colorAccess;
    }
  }
}

.search-bar {
  position: absolute;
  top: 0;
  right: -26px;
  width: 100%;
  max-width: 366px;
  height: 100%;
  padding-right: 24px;
  padding-left: 24px;
  opacity: 0;
  @include transition(opacity);

  &.show {
    opacity: 1;
  }


  .search-input {
    font-size: 15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid rgba($colorWhite, .5);
  }

  .search-input::placeholder {
    opacity: .5;
  }

  .btn-close {
    position: absolute;
    top: 0;
    right: 28px;
    height: 100%;
    width: 20px;

    svg {
      @include transition(fill);
    }

    &:hover {
      svg {
        fill: $colorAccess;
      }
    }
  }

  .search-dropdown {
    background-color: #fff;
    position: absolute;
    top: calc(100% + 16px);
    left: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: $borderRadius;
    overflow: hidden;
    z-index: 2;

    .dropdown-top {
      padding-bottom: 20px;
    }

    .dropdown-top,
    .dropdown-bottom {
      padding-left: 20px;
      padding-right: 20px;

    }

    .article-preview {
      padding: 20px;
      border-top: 1px solid $colorBorder;
      @include transition(background-color);


      &:last-child {
        margin-bottom: 16px;
        border-bottom: 1px solid $colorBorder;
      }

      .article-img {
        width: 50px;
        height: 50px;
        margin-right: 20px;
        border-radius: $borderRadius;

        img {
          width: 50px;
          height: 50px;
          object-fit: cover;
        }
      }

      &:hover {
        background-color: #fff3e9;
      }
    }
  }
}
