doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Test Work
  link(rel='stylesheet', href='css/libs.min.css')
  link(rel='stylesheet', href='css/style.min.css')
  link(rel='stylesheet', href='css/media.min.css')


// Table block. This block has information about client and project name.
section.table
  .container
    .table__title
      h1 Project
    .table__inner
      .table__item
        .table__checkbox
          form
            input#checkbox(type='checkbox')
            label(for='checkbox')
          span.table__default-project #
        span.table__default-client client
        span.table__default-status status
      .table__item.table__project-wrapper
        .table__checkbox
          form
            input#checkbox1(type='checkbox')
            label(for='checkbox1')
          span.table__project PROJECT #1720
        span.table__client Stella
        .table__default-status.table__status.dropdown
          .select
            span Sent
            i.fa.fa-chevron-left
          input(type='hidden', name='Status')
          ul.dropdown-menu
            li Draft
            li Sent
      .table__item.table__project-wrapper
        .table__checkbox
          form
            input#checkbox2(type='checkbox')
            label(for='checkbox2')
          span.table__project PROJECT #1720
        span.table__client IT corp international
        .table__default-status.table__status.dropdown
          .select
            span Draft
            i.fa.fa-chevron-left
          input(type='hidden', name='Status')
          ul.dropdown-menu
            li Draft
            li Sent


// Plugins block. This block has information about differently plugins and litle info about them.
section.plugins
  .container
    .plugins__inner
      .plugins__item
        a(href='#')
          img(src='img/plugins-1.png', alt='')
          h2 Project #1
          p
            | Lerem ipsum dolor sit 
            br
            |               amet, consectetuLerem ipsum dolor sit
            |               amet, consectetu
            |               Lerem ipsum dolor sit
            |               amet, consectetu
      .plugins__item
        a(href='')
          img(src='img/plugins-2.png', alt='')
          h2 Project #2
          p
            | Lerem ipsum dolor sit 
            br
            |               amet, consectetur
      .plugins__item
        a(href='')
          img(src='img/plugins-3.png', alt='')
          h2 Project #3
          p
            | Lerem ipsum dolor sit   
            br
            |               amet, consectetur
      .plugins__item
        a(href='')
          img(src='img/plugins-4.png', alt='')
          h2 Project #4
          p
            | Lerem ipsum dolor sit
            br
            |               amet, consectetur


// Add project. In this block you can add your new project in table block.
section.add-project
  .container
    .add-project__inner
      .add-project__title
        h2 Add project
      .add-project__wrapper-top
        .add-project__item
          p.add-project__name
            | Name 
            span *
          form
            input(type='text')
        .add-project__item
          p.add-project__name
            | Client 
            span *
          form
            input(type='text')
      .add-project__wrapper-botton
        .add-project__item
          p.add-project__name
            | E-mail 
            span *
          form
            input(type='text')
        .add-project__item
          p.add-project__name
            | Admin 
            span *
          form.add-project__admin
            input(type='text')
      .add-project__button
        button.add-project__button-cancel Cancel
        button.add-project__button-add Add

        
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(src='js/libs.min.js')
script(src='js/main.js')
